// why are .radius and .round here?


// Alerts
$success-bg-color:#5da423;
$success-border-color:darken($success-bg-color, 5%);

$alert-bg-color:#c60f13;
$alert-border-color:darken($alert-bg-color, 5%);

table.success td {
    background: $success-bg-color;
    border-color: $success-border-color;
}

table.success:hover td {
    background: $success-border-color !important;
}

table.alert td {
    background: $alert-bg-color;
    border-color: $alert-border-color;
}

table.alert:hover td {
    background: $alert-border-color !important;
}

table.radius td {
    -webkit-border-radius: $button-radius;
    -moz-border-radius: $button-radius;
    border-radius: $button-radius;
}

table.round td {
    -webkit-border-radius: $button-round;
    -moz-border-radius: $button-round;
    border-radius: $button-round;
}
