
// ==============================================
//				Typography
// ==============================================

// links
$link-color:#2ba6cb;
$link-decoration:none;
$link-hover-color:#2795b6;
$link-active-color:#2795b6;
$link-visited-color:#2ba6cb;


// Global
$font-color:#222222;
$font-family:"Helvetica", "Arial", sans-serif;
$font-weight:normal;
$font-line-height:1.3;

// Headings
$heading-link-color:#2ba6cb;

$h1-font-size:40px;
$h2-font-size:36px;
$h3-font-size:32px;
$h4-font-size:28px;
$h5-font-size:24px;
$h6-font-size:20px;

// Paragraphs
$p-font-size:14px;
$p-line-height:19px;
$p-margin:0 0 10px 0;
$p-lead-font-size:18px;
$p-lead-line-height:21px;

// alt
$small-font-size:10px;

/* Typography */

body, table.body, h1, h2, h3, h4, h5, h6, p, td {
    color: $font-color;
    font-family: $font-family;
    font-weight: $font-weight;
    padding: 0;
    margin: 0;
    text-align: left;
    line-height: $font-line-height;
}

h1, h2, h3, h4, h5, h6 {
    word-break: normal;
}

h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

h4 {
    font-size: $h4-font-size;
}

h5 {
    font-size: $h5-font-size;
}

h6 {
    font-size: $h6-font-size;
}

body,
table.body,
p,
td {
    font-size: $p-font-size;
    line-height: $p-line-height;
}

p.lead,
p.lede,
p.leed {
    font-size: $p-lead-font-size;
    line-height: $p-lead-line-height;
}

p {
    margin-bottom: $p-margin;
}

small {
    font-size: $small-font-size;
}

a {
    color: $link-color;
    text-decoration: $link-decoration;
}

a:hover {
    color: $link-hover-color !important;
}

a:active {
    color: $link-active-color !important;
}

a:visited {
    color: $link-visited-color !important;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: $heading-link-color;
}

h1 a:active,
h2 a:active,
h3 a:active,
h4 a:active,
h5 a:active,
h6 a:active {
    color: $heading-link-color !important;
}

h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
    color: $heading-link-color !important;
}

/* Outlook First */

body.outlook p {
    display: inline !important;
}
